<div class="max-w-xs rounded overflow-hidden shadow-md bg-white w-36 sm:w-48 m-2">
  <img class="w-full h-32 sm:h-40 object-cover" src="{{ product.image.url }}" alt="{{ product.name }}" onerror="this.src='/static/img/placeholder.jpg';" />
  <div class="px-2 py-1 sm:px-4 sm:py-2">
    <div class="font-bold text-sm sm:text-base mb-0.5 sm:mb-1">{{ product.name }}</div>
    <p class="text-gray-600 text-xs sm:text-sm">{{ product.desc }}</p>
  </div>
  <div class="px-2 pt-1 pb-0.5 sm:px-4 sm:pt-2 sm:pb-1">
    <span class="text-gray-900 text-base sm:text-lg font-semibold">{{ product.get_formatted_price }}</span>
    <p class="text-xs text-gray-500">
      Rating:{% for i in '12345'|slice:':product.rating' %}
        ⭐
      {% endfor %}
    </p>
    <p class="text-xs text-gray-500">Stock: {{ product.stock }}</p>
  </div>

  <div class="flex items-center space-x-4 px-4 py-2">
    <a href="{% url 'main:delete_product' product.pk %}" class="bg-blue-500 text-white rounded-full px-2 py-1 text-xs font-semibold">Delete</a>
    <a href="{% url 'main:edit_product' product.pk %}" class="bg-blue-500 text-white rounded-full px-2 py-1 text-xs font-semibold">Edit</a>
  </div>
</div>
